#container {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #161616;
  height: auto;
  //top: 50%;
  // transform: translateY(-50%);
}

hr{
  background-color: darkslategrey;
  width: 80%;
}
#container strong {
  font-size: 30px;
  line-height: 26px;

}
#container ion-card {
 background-color: slategrey;
  p{
  font-size: 22px;
  line-height: 25px;
  color: rgb(216, 216, 216);

  margin: 0;
  }

}


#container a {
  text-decoration: none;
}
img{
  height: 600px;
}

ion-title{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  margin-top: 20px;
  height: auto;
}


#brands
{
  background-color: #121212;
  color: rgb(216, 216, 216);  
}


#brands{
  ion-card{
    background-color: white;
  }
}
#brands img{
  height: 250px;
} 

ion-footer{
  ion-title{
    font-size: 1em;
  }
}