<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-top ion-padding-bottom">
    <ion-title size="large" class="ion-text-uppercase ion-text-center" >
      Boycott France
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding-top ion-padding-bottom">
    <h1><strong>OUR MISSION</strong></h1>
    <hr>
    <ion-grid>
      <ion-row>
        <ion-col size-md="4">
          <ion-card>
            <ion-card-header> 
              <ion-card-title>How to be Effective Boycott</ion-card-title>
              <hr>
            </ion-card-header>
            <ion-card-content>
              <p class="ion-text-justify ion-padding-start ion-padding-end">
                We will limit the French products and issue a list of them 
                and update them constantly, and we will not offer alternative products, 
                but rather leave the alternatives for consumer choice, publish a 
                list of the markets committed to the boycott and those that are not committed, 
                and present our demands from France in return for ending the boycott.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-md="4">
          <ion-card>
            <ion-card-header> 
              <ion-card-title>Why Boycott?</ion-card-title>
              <hr>
            </ion-card-header>
            <ion-card-content>
              <p class="ion-text-justify ion-padding-start ion-padding-end">
                Among the methods that we use to support the Prophet, 
                may Allah’s prayers and peace be upon him, against the 
                obscene abuses that his honorable person is exposed to: 
                government actions, whether diplomatic or political, and 
                popular actions, most notably the boycott of French goods, 
                which is an effective peaceful way to deter the French from their 
                repeated offenses.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-md="4">
          <ion-card>
            <ion-card-header> 
              <ion-card-title>Our Love for Allah's Messenger</ion-card-title>
              <hr>
            </ion-card-header>
            <ion-card-content>
              <p class="ion-text-justify ion-padding-start ion-padding-end">
                Muslims love their Prophet Muhammad, may Allah's prayers and peace 
                be upon him, more than they love themselves, and they believe 
                that the Prophet is the best of mankind and the master of Adam’s son,
                 and that God Almighty defends his Prophet and pays off harm 
                 (I am your mockers) and that whoever supports the Prophet, may Allah's 
                 prayers and peace be upon him, is better for him with his Lord .
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <hr>
          <h1>TOGETHER TO SUPPORT OUR PROPHET, MAY ALLAH BLESS HIM AND GRANT HIM PEACE</h1>
          <hr>
        </ion-col>
      </ion-row>
     <ion-row>
       <ion-col size-md="6">
          <a href="../assets/images/1.jpeg" target="blank">
            <img src="../assets/images/1.jpeg">
          </a>
       </ion-col>
       <ion-col size-md="6">
          <a href="../assets/images/2.jpeg" target="blank">
            <img src="../assets/images/2.jpeg">
          </a>
       </ion-col> 
     </ion-row>
    </ion-grid>
    <div id="brands" class="ion-padding"> 
        <h1><strong>SOME OF FRANCE'S BRANDS</strong></h1>
        <hr> 
        <ion-grid>
          <ion-row>
            <ion-col size-md="4">
              <ion-card>
                <img src="../assets/images/brand1.png"> 
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card>
                <img src="../assets/images/brand2.png"> 
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card>
                <img src="../assets/images/brand3.png "> 
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="4">
              <ion-card>
                <img src="../assets/images/brand1.png"> 
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card>
                <img src="../assets/images/brand2.png"> 
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card>
                <img src="../assets/images/brand3.png "> 
              </ion-card>
            </ion-col>
          </ion-row><ion-row>
            <ion-col size-md="4">
              <ion-card>
                <img src="../assets/images/brand1.png"> 
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card>
                <img src="../assets/images/brand2.png"> 
              </ion-card>
            </ion-col>
            <ion-col size-md="4">
              <ion-card>
                <img src="../assets/images/brand3.png "> 
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
    
<ion-footer>
  <ion-toolbar class="ion-padding">
    <ion-title>This is the least we can do for our beloved Prophet Muhammad (SAW)</ion-title>
  </ion-toolbar>
</ion-footer>
  </div>
</ion-content>
